@charset "UTF-8";

:root{
    --title-font: ;
    --text-font: ;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100dvh;
}

button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}