@import url(base.css);

.header{
    position: fixed;
    width: 100%;
    padding: .5rem 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #fff;
}
.header h1{
    text-transform: capitalize;
}
.header .mobile-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 35px;
    height: 35px;
    padding: .1rem;
}
.header .mobile-icon span{
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.header .desk-menu{
    display: none;
}
.header .actions .action{
    position: relative;
    width: 30px;
    height: 30px;
    padding: 1rem;
    margin-inline: .1rem;

    font-size: 1.2rem;
    font-weight: normal;
    color: #fff;

    border: .5px solid;
    border-radius: 40px;
    background-color: #ffffff21;
}
.header .actions .action i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header .side-menu{
    position: fixed;
    top: 0;
    left: -60%;

    width: 50%;
    height: 100dvh;

    border: 1px solid;
}

.main .hero{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100dvh;
    padding-inline: 1.5rem;

    background-image: url(../imgs/b2.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center center;
}
.main .hero .call-to-action{
    margin-bottom: 2rem;
}
.main .hero .call-to-action h2{
    width: 300px;
    font-size: clamp(2.5rem, 3vw, 6rem);
    color: #fff;
}
.main .hero .call-to-action p{
    width: 300px;
    margin-block: 1.2rem;

    font-size: clamp(1rem, 1vw, 1.1rem);
    color: #E5E7EB;
}
.main .hero .call-to-action button{
    padding: 10px 20px;

    border-radius: 40px;
    background-color: #fff;
    font-size: clamp(1.2rem, 1vw, 1.5rem);
}
.main .hero .offer{
    display: none;
}